.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 10rem;
    font-family: sans-serif;

    background: linear-gradient(0deg,rgba(143, 240, 255, 0.65) 0%, rgba(143, 240, 255, 0.65) 1%, rgba(255, 255, 255, 1) 100%);
}

.title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.search-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
}

.search-bar {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-button {
  margin-left: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background-color: #62baea;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: rgb(77, 149, 189);
}

.weather-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 2rem;
  gap: 1rem;
}